rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthorizedUser() {
      return request.auth != null
        && request.auth.uid == '74GPbaN8d0ZDc4RfqkRxUL23RBo1';
    }

    match /users/{userId}/{document=**} {
      allow read, write: if isAuthorizedUser()
        && userId == request.auth.uid;
    }
  }
}
