rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthorizedUser() {
      return request.auth != null
        && request.auth.uid == '74GPbaN8d0ZDc4RfqkRxUL23RBo1';
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if isAuthorizedUser()
        && userId == request.auth.uid;
      allow create, update: if isAuthorizedUser()
        && request.auth.uid == userId
        && request.resource != null
        && request.resource.size <= 500 * 1024 * 1024;
      allow delete: if isAuthorizedUser()
        && request.auth.uid == userId;
    }
  }
}
